<html>
<head>
    <link rel="stylesheet" href={{asset("/css/cislicko.css")}} />
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endblock %}
</head>
    <h2>Hello Symfony!</h2>
	{% block body %}
    <div id="formicek">
        {{form(postava_form)}}
    </div>

    <a href="{{path('vypisPostavy')}}"><button type="submit">Vypiš postavy z PostgreSQL</button></a>
    {% endblock %}


	</body>
</html>
